name: Deploy

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install sshpass
        run: sudo apt-get install -y sshpass

      - name: Set up SSH key for deployment
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.VPS_IP }} > ~/.ssh/known_hosts
          echo "StrictHostKeyChecking no" >> ~/.ssh/config

      - name: Debugging
        run: |
          echo "VPS_IP: ${{ secrets.VPS_IP }}"
          echo "VPS_USERNAME: ${{ secrets.VPS_USERNAME }}"
          ls -la ~/.ssh
          cat ~/.ssh/known_hosts

      - name: Deploy to Server
        run: |
          ssh -o "StrictHostKeyChecking no" -p 22 ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_IP }} << 'EOF'

            cd /root/gsa-back || exit 1
            git pull --rebase origin main
            chmod +x deploy.sh
            sudo ./deploy.sh

          EOF